---
// sorry for no "@", I gotta go fast!
import Layout from "../components/Layout.astro";
// export const prerender = false;
---

<Layout levelNumber="1">
    <link href="rainbow.css" rel="stylesheet">
    <h1 class="rainbow-text">Level 1: What's the key? </h1>

        <div class="container">
            <p>Find the key to enter to the next level!</p>
            <p>Hint: Read this aloud: "Kun-Troll Shif-de Eye"</p>
            <input type="text" id="answer" placeholder="Enter your answer" />
            <p id="hint1" style="display: none; color: red;">Hint: It's a single-digit number.</p>
            <p id="hint2" style="display: none; color: rgb(251, 0, 255);">Hint 2! F12 -> Source on top -> src/pages at left -> 1.astro .</p>
            <p id="hint3" style="display: none; color: rgb(0, 34, 255);">Last Hint! Line 49!</p>
        </div>
</Layout>

<script>

    setTimeout(() => {
        //@ts-ignore
      document.getElementById("hint1").style.display = "block";
    }, 10000);

    setTimeout(() => {
        //@ts-ignore
        document.getElementById("hint2").style.display = "block";
    }, 20000);

    setTimeout(() => {
        //@ts-ignore
        document.getElementById("hint3").style.display = "block";
    }, 30000);


    //@ts-ignore
    document
        .getElementById("answer")
        .addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                //@ts-ignore
                let userAnswer = document
                    .getElementById("answer")
                    //@ts-ignore
                    .value.trim();
                if (userAnswer === "8") {
                    
                    let currentTime = new Date();
                    let expires = new Date();
                    expires.setTime(expires.getTime() + 15 * 60 * 1000); // Add 15 minutes

                    document.cookie = `answer1=8; expires=${expires.toUTCString()}; path=/`;
                    window.location.href = "2";
                } else {
                    alert("Wrong answer! Try again.");
                }
            }
        });
</script>