---

---

<!doctype html>
<html lang="en">
    <meta name="description" content="Find Me Game Homepage">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Find Me!</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/favicon.svg">
    </head>

    <body>
        <h1>Find Me!</h1>
        <div class="container">
            <p>
                This game is all about hide and seek! You, the seeker, will try to
                catch me, the answer!
            </p>
            <p>
                Keep in mind that the SOURCE CODE is the KEY!
            </p>
        </div>

        <!-- <form id="createAccountForm" action="/submit" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
            <div id="usernameError" class="error"></div>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
            <div id="emailError" class="error"></div>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
            <div id="passwordError" class="error"></div>

            <label for="confirmPassword">Confirm Password</label>
            <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                required
            />
            <div id="confirmPasswordError" class="error"></div>

            <button type="submit">Create Account</button>
        </form> -->

        <button onclick="window.location.href = 1;">ONTO THE GAME!</button>

        <style>
            h1 {
                text-align: center;
            }

            button {
                display: block;
                margin: 20px auto;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
            }

            .container {
                text-align: center;
                margin-top: 50px;
            }
        </style>
    </body>
</html>
