---
const { levelNumber } = Astro.props;

export const prerender = false;
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Find Me! Level {levelNumber}</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <slot/>
        <style>
            h1 {
                text-align: center;
            }

            .container {
                text-align: center;
                margin-top: 50px;
            }

            input {
                display: block;
                margin: 10px auto;
                padding: 10px;
                font-size: 16px;
                text-align: center;
            }
        </style>
    </body>
</html>
